@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --surface: #f4f4f5; 

  --primary: #004B4D;       
  --primary-light: #2B7D8E;
  --secondary: #5E1D5B;     
  --secondary-light: #E4005E;
  
  --font-size-h1: clamp(2rem, 5vw, 3.25rem);
  --font-size-h2: clamp(1.5rem, 4vw, 2.25rem);
  --font-size-h3: clamp(1.25rem, 3vw, 1.75rem);
  --font-size-h4: clamp(1.1rem, 2vw, 1.5rem);
  --font-size-p: clamp(1rem, 1vw + 0.5rem, 1.125rem);
  --font-size-small: clamp(0.75rem, 0.8vw, 0.875rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  
  --text-h1: var(--font-size-h1);
  --text-h2: var(--font-size-h2);
  --text-h3: var(--font-size-h3);
  --text-h4: var(--font-size-h4);
  --text-p: var(--font-size-p);
  --text-small: var(--font-size-small);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.2s ease-in-out;
}

h1 { font-size: var(--font-size-h1); font-weight: 800; line-height: 1.2; }
h2 { font-size: var(--font-size-h2); font-weight: 700; line-height: 1.3; }
h3 { font-size: var(--font-size-h3); font-weight: 600; line-height: 1.3; }
h4 { font-size: var(--font-size-h4); font-weight: 600; line-height: 1.4; }
p  { font-size: var(--font-size-p); line-height: 1.6; }
small { font-size: var(--font-size-small);}